.container {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 1rem;
  gap: 2.5rem;
  background-color: #212121;
  /* font-size: calc(0.5rem + 2vmin); */
}
.container > div > a {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  text-decoration: none;
  display: flex;
  font-weight: 500;
  color: #c5c5c5;
}
.container > div:active {
  transform: scale(0.98);
}
