.container {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 0.5rem 1rem;
  gap: 2.5rem;
  font-size: calc(0.5rem + 2vmin);
}
.container > div > a {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  text-decoration: none;
  font-weight: 500;
  color: #282c34;
}
.container > div:hover {
  color: #747985;
}
.container > div:active {
  background-color: aliceblue;
  transform: scale(0.9);
}
