:root {
  --height: 1rem;
}
.navbar-container {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 1rem;
  gap: 2.5rem;
  background-color: #212121;
  height: var(--height);
}
.navbar-container > div {
  padding-block: 0.5rem;
}
.navbar-container > div > a {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  text-decoration: none;
  display: flex;
  font-weight: 500;
  color: #c5c5c5;
}
.navbar-container > div:active {
  transform: scale(0.98);
}
.border-inactive {
  border-bottom: 2px solid #212121;
}
.border-active {
  border-bottom: 2px solid lightskyblue;
}
